@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Doodle+Shadow&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family:'Arial','Times New Roman', Times, serif;
    background-color: black;
}
/***********************************************************
                            navigation bar
**************************************************************/
nav{
    background: #000;
    height: 75px;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 999;
}
label.logo{
    color: white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 900;
    text-transform: uppercase;
}
.logo span{
    color: red;
}
nav ul{
    float:right;
    margin-right: 150px;
    margin-top: 31px;
}
nav ul li{
    display: inline-block;
    margin: 0 30px; 
}
nav ul li a{
    color: grey;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 1px; /*padding  top and bottom left and right*/
}
nav ul li a:hover{
    color:white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* underline (red) effcet nav bar */
nav ul li a::after{
    content: "";
    height: 3px;
    width: 0%;
    background: red;
    display: block;
    margin: auto;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
 /* nav bar resposive */
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/* #check{
    display: none;
}  */
nav ul li a.active{
    color:white;
}
/* end navigation bar */
/***********************************************************
                header section
**************************************************************/
.container2{
    color:white;
    padding: 0 7%;
    margin-top: 10%;
}

#header{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
    min-height:69vh;
    
}
.container2 .header p{
    font-size: 30px;
    transition: font-size 0.5s ease;
}
.container2 .header h1{
    font-size: 45px;
    transition: font-size 0.5s ease;
    
}
.container2 .header h1 span{
    color:red;
}
/* downlod cv */
div.cv{
    margin-top: 20px;
    background:linear-gradient(red,black);
    width: fit-content;
    border: 1px solid rgb(124, 54, 54);
    padding: 14px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgb(187, 35, 30);
}
div.cv p{
    font-size: 20px !important;
    font-weight: 900;
}
div.cv p a{
    color: white;
}
div.cv:hover{
    background:linear-gradient(black,red);
}
/*end downlod cv */
#header .home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomin 1s ease forwards, loopRoll 4s ease-in-out infinite;
    -webkit-animation: zoomin 1s ease forwards, loopRoll 4s ease-in-out infinite;
    animation-delay: 0.5s,2s;
}
@keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}
@keyframes loopRoll {
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

#header .home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;

}
#header .home-img .glowing-circle .image img{
    max-width: 350px;
    object-fit: cover;
    margin-top: -15px;
    margin-left: 10px;
}
#header .home-img .glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(red,rgba(75, 73, 73, 0.37));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#header .home-img .glowing-circle span:nth-child(1){
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

/* end header section */


/********************************************************************************
                                    about
*********************************************************************************/
#about{
    padding: 80px 0;
    color:gray;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%; /*column wdith*/
}
.about-col1 img{
    width: 100%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.about-col2{
    flex-basis: 60%;/*column wdith*/
}
.about-col2 h1{
    color: white;
    margin-bottom: 10px;
}
.about-col2 p{
    font-size: 20px;
}
.titles{
    display: flex;
    margin: 20px 0 40px;
}
.titles p{
    margin-right: 20px;
    font-size: px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color:white;
}
.titles p.active-link {
    color: white;
}
.titles p:hover{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.titles p::after{
    content: "";
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.titles .active-link::after{
    width: 90%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:red;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.tab-contents{
    display: none;
    font-size: 18px;
}
.tab-contents.active-tab{
    display:block;
}
/* skills section */
#skills .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

#skills .head {
    text-align: center;
    color: white;
    padding: 1rem;
    position: relative;
}
#skills .head h1{
    font-size: 30px;
}

#skills .skill-box {
    color: #ddd;
    width: 80%;
    background-color: rgb(24, 23, 23);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 25px 25px;
    
}
 /* skill-box size increase whne hover */
.skill-box:hover{
    transform: scale(1.03);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 0 0 20px 0 rgba(141, 140, 140, 0.8);

    
}
#skills .skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#skills .img img {
    width: 80px;
    height: 80px;
    padding: 10px;
    position: relative;
    border-radius: 45px;
    background-color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#skills .img img:hover {
    background-color: rgba(199, 199, 199, 0.9);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#skills .skill-title h3{
    margin: 0.5rem;
}
#skills .skill-icon {
    width: 50px;
}
 /* progress bar */
.progress-bar{
    font-family: 'Dosis';
    margin-top:25px !important;
    position: relative;
    width: 100%;
    height:8px;
    background-color: gray;
    color: gray;
    border-radius: 15px;
    margin: 20px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.progress-bar::after{
    position: absolute;
    content: attr(value);
    top:-35px;
    right:0;
    font-size: 18px;
}
.progress-line{
    position: absolute;
    width: 0%;
    height:9px;
    background-color: #0ca118;
    border-radius: 15px;
    border: 1px solid rgb(26, 24, 24);
    top:-1px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    animation: smootfill 1.5s cubic-bezier(1,0.2,0.2,1) forwards;
    -webkit-animation: smootfill 1.5s cubic-bezier(1,0.2,0.2,1) forwards;
}
@keyframes smootfill{
    100%{
        width:100%; 
    }
}
 /* end of skills section */

 /* --------projects section */

#projects{
    margin-top: 60px;
    background-color: rgb(28, 27, 27);
    border-radius: 20px 10px;
    box-shadow: 0 1px 20px 10px rgba(99, 98, 98, 0.3);
}
.projects {
    background-color:black;
    padding: 32px 20px;
    margin-top: 20px;

}
#projects .projects-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
#projects .project-pic {
    margin-bottom: 10px;
    width: 100%;
    height: 60%;
}
#projects .projects-container {
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#projects .animation-box .project-box {
    position: relative;
    text-align: center;
    width: 21.875rem;
    background-color: black;
    border-radius: 11px;
    margin: 25px;
    padding: 20px;
    margin-bottom: 25px;
    z-index: 2;
}
#projects .project-box p {
    padding: 5px;
    padding-bottom: 10px;
}
#projects .project-box a{
    color:#fff;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#projects .project-box a:hover{
    opacity: 1;
}
#projects .animation-box:hover{
    box-shadow: 0 0 15px 0 rgb(124, 54, 54);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
 /* animation */
.animation-box{
    position: relative;
    width: 21.875rem;
    display: flex;
    padding: 20px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.animation-box::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 140%;
    background: linear-gradient(rgb(235, 39, 39),rgb(7, 7, 7),#663030);
    animation: animate;
    -webkit-animation: animate 10s infinite;
}
.animation-box::after{
    content: '';
    border-radius: 11px;
    position: absolute;
    background: #000;
    inset: 4px;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
    }

 /* end of projects section */

/* -------------------footer----------------------------------*/
footer{
    background-color: #000;
    margin-top: auto;

}
.footer{
    width: 100%;
    padding: 70px 30px 20px;
}
footer .soical-meida{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;  
}
footer .soical-meida a{
    text-decoration:none;
    padding: 11px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px;
}
footer .soical-meida a i{
    font-size: 22px;
    color:#000;
}
footer .footernav ul{
    display: flex;
    justify-content: center;
    list-style: none; 
}
footer .footernav ul li a{
    color:gray;
    text-decoration: none;
    margin: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
footer .footernav ul li a:hover{
    color: white;
}
footer .footer-bottom{
    color:gray;
    font-size: 12px;
    margin: 25px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}


/* -------------------end footer------------------------------*/


/* media query */
@media (max-width: 13840.9px) and (min-width: 2000px){
    .container{
        max-width: 1420px;
        text-align: center;
        margin:auto;
    }
    nav{
        position: fixed;
        max-width: fit-content;
    }
    #header{
        min-height: auto;
    }
    
}
@media (max-width: 1024px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        padding-right: 0px;
    }
    nav ul{
        margin-right: 10%;
    }
    nav ul li a{
        font-size: 15px;
    }
    #projects .project-box p{
        font-size:  13px;
    }
    .container2 .header h1{
        font-size: 190%;
    }
    .container2 .header p{
        font-size: 120%;
    }
}
@media (max-width: 912px) {
    
    #projects .projects-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width: 852px){
    .checkbtn{
        display: block;
    }
nav ul{
        position: fixed;
        width: 100%;
        height: 200vh;
        background: #000;
        top:50px;
        text-align: center;
        left:100%;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
}
    nav ul li{
        display: block;
        margin: 30px 0;
    }
    nav ul li a{
        font-size:20px;
    }
    #check:checked ~ul{
        left:0;
    }
}
@media (max-width: 1024px){
    #skills .inner{
        grid-template-columns:repeat(2,1fr) ;
        padding: 2rem 50px;
    }
}
@media (max-width: 800px){
    .container2 .header h1{
        font-size: 120%;
    }
    div.cv{
        width:60%;
    }
    div.cv p{
        font-size: 15px !important;
    }

}
@media (max-width: 540px){
    #skills .inner{
        grid-template-columns:repeat(1,1fr) ;
        padding: 2rem 50px;
    }
    #projects .projects-container{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
    footer .footernav ul{
        flex-direction: column;
        align-items: center;
    }
    footer .footernav ul li{
        padding: 10px;
    }
    .home-img{
        display: none;
    }
    #header{
        grid-template-columns:repeat(1,1fr) ;
        text-align: center;
        align-items: center;
    }
    div.cv{
        width: 50%;
        align-items: center;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 25%;
    }
    div.header{
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 375.9px){
    #projects .project-box{
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    }
}
/*end media query  */